@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>@Resources.AppResources.AppName </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Areas/ControlPanel/Content/css/styles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>

<body class="focusedform">

    <div class="verticalcenter">
        <img src="/Areas/ControlPanel/Content/img/login-logo.png" alt="Logo" class="brand" />
        <div class="panel panel-primary perspective ">
            <div class="panel-body login">
                <h5 class="text-center" style="margin-bottom: 25px;">عذرا أنت لا تملك الصلاحية  </h5>

            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>


</body>
</html>
