.article-ttl {
	font-family: 'Droid Arabic Kufi', Verdana, Geneva, sans-serif;
	font-size: 13px;
	position: relative;
	padding-right: 12px;
	color: #2A7755;
}
.first-ttl {
	color: #00371E;
	font-size: 13px;
	font-weight: normal;
	position: relative;
}
.second-ttl {
	color: #297754;
	font-size: 13px;
	font-weight: normal;
	position: relative;
	margin: 0 10px 0 0;
}
.editorAya {
    font-family: 'UthmanicHafs';
    font-size: 18px;
    color: #297754;
    -webkit-text-stroke-width: 1px;
}
.highlight{
	color: #297754;
	text-align: center;
	font-family: 'Droid Arabic Kufi', Verdana, Geneva, sans-serif;
	padding: 10px;
	font-weight: bold;
	background-color: #E5E5E5;
}