@charset "utf-8";
.black {
	background-color: rgba(0, 0, 0, .7);
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 400
}
.pop-up {
	position: fixed;
	z-index: 500;
	-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;
	top: 50px;
	right: 50%;
	margin: 20px auto;
	background-color: #787878;
	padding: 10px;
	border: 1px solid #cacaca;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url(js/PIE.htc);
	color: #FFF;
}
.popupTtl {
	margin: 10px -20px;
	background-color: #6b2b2d;
	text-align: center;
	padding: 5px;
	font-family: 'Droid Arabic Kufi', arial;
	font-size: 14px;
	color: #FFFFFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	behavior: url(js/PIE.htc);
	background-image: url(img/title.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
}

.close-btn {
	height: 21px;
	width: 26px;
	display: inline-block;
	position: absolute;
	left: -22px;
	top: 25px;
	z-index: 100;
	background-color: #6b2b2d;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	text-align: center;
	border-right: 3px solid #787878;
	padding-top: 4px;
}

.pop-up .buttons {text-align: center;}
.pop-up .errorMsg { margin: 5px 25px 5px 5px; }
