<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
   <!--<add name="MobileApplicationEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MobileApplication_Test;user id=sa;password=_sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>--> 
   <!--<add name="MobileApplicationEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=41.39.30.47;initial catalog=MobileApplication;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="QVMobileApplicationEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=107.180.76.92;initial catalog=ElgwaaDoaa;user id=sa;password=relP@ssw0rdd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ProgramID" value="1"/>
    <add key="IN_DEV" value="True"/>
    <add key="umbracoReservedPaths" value="~/umbraco,~/install/,~/bundles/"/>
    <add key="ERPMainLogin" value="http://localhost:30299/ControlPanel/Account/Default"/>
    <add key="ERPAuthenticationEnterprise" value="http://localhost:30299/authentication_enterprise.ashx"/>
    <add key="owin:AutomaticAppStartup" value="true"/>
<!--push notifications keys-->
    <add key="FCM_SENDER_ID" value="367093392150"/>
    <add key="FCM_TOKEN_KEY" value="AIzaSyBtPrMbw1G2yj19eZVXclGRX-zP-FmhwpU"/>
  <!-- Google Map APi Key-->
    <add key="GoogleMapsApiKey" value="AIzaSyC7D7sjcGU2V1QQU27els - MGeZsrqhpWyw"/>
    
    <add key="Production_APNS_Driver_Cert_File" value="~/Certificates.p12"/>
    <add key="Production_APNS_Merchant_Cert_File" value="~/MobileApplicationMerchantCertificates.p12"/>

    <add key="Development_APNS_Driver_Cert_File" value="~/Certificates.p12"/>
    <add key="Development_APNS_Merchant_Cert_File" value="~/MobileApplicationMerchantCertificates.p12"/>
    
    
    <!-- time difference from GMT-->
    <add key="TimeDiffInHours" value="2"/> 
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" />
    <pages validateRequest="false"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />-->
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>