@model MobileApplication.DataModel.ForgetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@Resources.AppResources.AppName </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Areas/ControlPanel/Content/css/styles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

</head>
<body class="focusedform">
    @using (Ajax.BeginForm("SubmitForgetPassword", "Account", new { area = "ControlPanel" }, new AjaxOptions { OnSuccess = "frmsignin_OnSuccess" }, new { @id = "form-signin" }))
    {
        @Html.ValidationSummary(true)
        <div class="verticalcenter">
            <img src="/Areas/ControlPanel/Content/img/login-logo.png" alt="Logo" class="brand" />
            
                    @*<img src="~/Areas/ControlPanel/Content/img/logo-big.png" alt="Logo" class="brand" />*@
                    <div class="panel panel-green perspective">
                        <div class="panel-body login">
                            <div class="form-group">
                                <div class="quickAdd col-sm-1  col-sm-1 2">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = " البريد الإلكتروني" })

                                    </div>
                                    <div class="has-error clearfix">
                                        <div class="control-label">
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <br />
                                <div class="alert alert-success quickAdd col-sm-1 4" style="display:none;" id="successEmailDiv">
                                    <strong>
                                        لقد تم الإرسال إلي البريد بنجاح
                                    </strong>
                                </div>
                                <div class="alert alert-danger quickAdd col-sm-1 4" style="display:none;" id="DuplEmailDiv">
                                    <strong>
                                        عذرا لقد حدث خطا ما
                                    </strong>
                                </div>
                            </div>


                            <div class="panel-footer">

                                <div class="pull-left">
                                    <button type="submit" class="btn btn-green">تأكيد</button>
                                    <a class="btn" href="/ControlPanel/Account/Default">إلغاء</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
    }

    <script>
        $(function () {
            $("#Email").change(function () {
                $("#customError").empty()
            })
        });

        function frmsignin_OnSuccess(data) {
            if (data) {
                $("#successEmailDiv").show();
                setTimeout(function () { window.location = "/ControlPanel/Account/Default" }, 2000);
            } else {
                $("#DuplEmailDiv").show();
            }
        }
    </script>
</body>

</html>
